---
import { RichTextRenderer } from "@frontends/rich-text-renderer"
import { Embeds } from "@frontends/embeds"
import Layout from '../../components/Layout.astro'
import type { Article } from "../../../types";

export async function getStaticPaths() {
  const data = await fetch(
    process.env.WEBINY_READ_URL!,
    {
      method: 'POST',
      headers: {
        'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
        'Content-Type' : 'application/json'
      },
      body: JSON.stringify({
        query: `
          {
            listArticles(limit: 200) {
              data {
                id
                title
                slug
                description
                body
                firstPublishedDate
                categories {
                  category
                  slug
                }
              }
              error {
                message
              }
            }
          }
        `,
      }),
    }
  ).then (
    response => response.json()
  )

  return data.data.listArticles.data.map((post:Article) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}
const { post } = Astro.props;
---
<Layout pageTitle={post.title} pageDescription={post.description} slug={`post/${post.slug}`} canonical={post.canonicalLink}>
    <div class="container max-w-lg">
      <h1 class="text-4xl mb-4">{post.title}</h1>
        {post.embed?.link && (
          <Embeds embed={post.embed} />
      )}
        <RichTextRenderer data={post.body} />
        <h2>More articles about: </h2>
        {post.categories.map((tag:Article) => (
          <a href={`/tag/${tag.slug}`} class="badge badge-outline m-2 mb-4 hover:badge-primary"><span class="text-white hover:text-black">{tag.category}</span></a>
        ))}
    </div>
</Layout>
