---
import { Embeds } from "@frontends/embeds"
import { FormatDate } from "@frontends/format-date"

interface Props {
  post?: {
    title: string
    shareCard?: string
    description: string
    slug: string
    publishDate: string
    embed?: {
      link: string
      type: 'spotify' | 'youtube'
    }
    tags?: Array<{
      slug: string
      title: string
    }>
  }
}

const { post } = Astro.props

---
<article class="bg-secondary">
  {post.shareCard && (
    <a href={`/posts/${post.slug}/`}><img src={post.shareCard} /></a>
  )}
  <div class="py-5">
    <h2 class="card-title text-2xl text-inherit mb-2 tracking-wide">
      <a class="hover:underline" href={`/posts/${post.slug}/`}>{post.title}</a>
    </h2>
    <p class="text-inherit text-lg">{post.description}</p>
    {post.embed?.link && (
      <Embeds embed={post.embed}/>
    )}
    <p class="my-2">Published on <FormatDate datetime={post.publishDate}/></p>
    {post?.tags?.length ? (
      <div class="card-actions mt-5 justify-end items-center">
        <span>This article is about:</span>
        {post.tags.map(tag => (
          <a href={`/tags/${tag.slug}/`} class="badge badge-outline hover:badge-primary hover:text-white">{tag.title}</a>
        ))}
      </div>
    ) : null}
  </div>
</article>
