---
import Layout from '../../components/Layout.astro'
import getTagsArrayFromPostList from '../../components/getTagsArrayFromPostList'
import postsQuery from '../../components/postsQuery'

interface Props {
    listArticles: {
      data: Array<{
        id: string
        title: string
        slug: string
        description: string
        tags: Array<{
          title: string
          slug: string
        }>
      }>
    }
  }

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: postsQuery
    }),
  }
);
const { data } = await response.json()

const content = getTagsArrayFromPostList(data)

---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog" slug="tag">
    <div class="container px-6 my-5">
      <h1 class="text-4xl mb-2">All Topics:</h1>
        {content.map(tag => (
          <a href={`#${tag.slug}`} class="badge badge-outline m-2 mb-4 hover:badge-primary"><span class="text-white hover:text-black">{tag.title}</span></a>
        ))}
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        {content.map((tag) => (
            <article class="card bg-secondary mb-6">
              <div class="card-body">
                <h2 id={tag.slug} class="card-title text-inherit">
                  <a href={`/tag/${tag.slug}/`}>{tag.title}:</a>
                </h2>
                {tag.description && <p class="text-inherit">{tag.description}</p>}
                {tag.posts.length ? (
                  <ul class="list-disc">
                    {tag.posts.map(post => (
                      <li class="ml-4"><a class="hover:underline px-1 inline-block" href={`/post/${post.slug}/`}>{post.title}</a></li>
                    ))}
                  </ul>
                ) : null}
              </div>
            </article>
        ))}
      </div>
    </div>
</Layout>
