---
interface Props {
  footerMenuItems: Array<{
    title: string,
    items: Array<{
      title: string,
      link: string
    }>
  }>;
  logo?: string;
  title: string;
  url: string,
  acknowledgementText: string;
  socialLinks: {
    [key: string]: {
      title: string,
      link: string
    }
  }
}

const { footerMenuItems, logo, title, acknowledgementText, socialLinks, url } = Astro.props;
---
<footer class="bg-accent text-base-content">
  <div class="py-10 max-w-contain mx-auto">
    <div class="footer gap-x-16 my-10">
      <div>
        <a class="items-center grid-flow-col" href={url}>
          {logo ? <img class="max-w-xs" src={logo}> : <span>{title}</span>}
        </a>
        {acknowledgementText}
      </div>
      {footerMenuItems?.map(itemGroup => (
          <div>
            <span class="footer-title">{itemGroup.title}</span>
            <ul class="list-inside">
            {itemGroup.items.map(item => (
              <li><a href={item.link} class="link link-hover sm:p-2 sm:inline-block">{item.title}</a></li>
            ))}
            </ul>
          </div>
      ))}
    </div>
    <div class="footer items-center bg-grey-900 text-neutral-content">
      <h3 class="text-xl">Where you can find me:</h3>
      {socialLinks ? (
        <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
          {socialLinks.linkedin && (
            <a href={socialLinks.linkedin.link} title={socialLinks.linkedin.title}>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66667 24H21.3333C22.8061 24 24 22.8061 24 21.3333V2.66667C24 1.19391 22.8061 0 21.3333 0H2.66667C1.19391 0 0 1.19391 0 2.66667V21.3333C0 22.8061 1.19391 24 2.66667 24ZM20.6667 20.6667H17.1052V14.6007C17.1052 12.9376 16.4733 12.0082 15.1569 12.0082C13.7249 12.0082 12.9767 12.9754 12.9767 14.6007V20.6667H9.54444V9.11111H12.9767V10.6676C12.9767 10.6676 14.0087 8.75807 16.4609 8.75807C18.9119 8.75807 20.6667 10.2548 20.6667 13.3504V20.6667ZM5.44978 7.598C4.28069 7.598 3.33333 6.64322 3.33333 5.46567C3.33333 4.28812 4.28069 3.33333 5.44978 3.33333C6.61888 3.33333 7.56567 4.28812 7.56567 5.46567C7.56567 6.64322 6.61888 7.598 5.44978 7.598ZM3.67752 20.6667H7.25647V9.11111H3.67752V20.6667Z" class="fill-current hover:fill-white"/>
              </svg>
            </a>
          )}
          {socialLinks.twitter && (
            <a href={socialLinks.twitter.link} title={socialLinks.twitter.title}><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current hover:fill-white"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg>
          </a>
          )}
          {socialLinks.youtube && (
            <a href={socialLinks.youtube.link} title={socialLinks.youtube.title}><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current hover:fill-white"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path></svg></a>
          )}
          {socialLinks.reddit && (
            <a href={socialLinks.reddit.link} title={socialLinks.reddit.title}><svg width="24" height="24" fill="none" class="fill-current hover:fill-white" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M24 11.422a3.006 3.006 0 0 0-3.003-3.002 2.98 2.98 0 0 0-2.34 1.12c-1.59-.723-3.403-1.168-5.32-1.31l1.647-5.206 3.68.797a2.546 2.546 0 0 0 2.462 1.91 2.545 2.545 0 0 0 2.542-2.542A2.545 2.545 0 0 0 21.126.647a2.544 2.544 0 0 0-2.296 1.454l-4.246-.92a.858.858 0 0 0-1 .58l-2.033 6.426c-2.245.055-4.375.52-6.208 1.353a2.98 2.98 0 0 0-2.34-1.12A3.006 3.006 0 0 0 0 11.422c0 .805.316 1.56.877 2.12a5.232 5.232 0 0 0-.504 2.225c0 2.064 1.235 3.989 3.478 5.422 2.183 1.396 5.077 2.164 8.149 2.164 3.072 0 5.966-.768 8.15-2.164 2.242-1.433 3.477-3.358 3.477-5.422 0-.76-.17-1.507-.504-2.225.561-.56.877-1.315.877-2.12Zm-22.681 1.03A1.975 1.975 0 0 1 4.259 9.9c-1.254.712-2.241 1.568-2.94 2.55Zm4.518 1.738c0-1.182.962-2.144 2.145-2.144s2.145.962 2.145 2.144a2.147 2.147 0 0 1-2.145 2.145 2.147 2.147 0 0 1-2.145-2.145ZM16.4 19.085c-.836.913-2.522 1.48-4.4 1.48-1.878 0-3.564-.567-4.4-1.48a.852.852 0 0 1-.145-.942.856.856 0 0 1 1.41-.217c.498.543 1.787.923 3.135.923 1.348 0 2.637-.38 3.135-.923a.86.86 0 0 1 1.439.873.853.853 0 0 1-.174.286Zm-.382-2.75a2.147 2.147 0 0 1-2.145-2.145c0-1.182.962-2.144 2.145-2.144s2.145.962 2.145 2.144a2.147 2.147 0 0 1-2.145 2.145Zm6.663-3.883c-.698-.983-1.686-1.84-2.94-2.552a1.975 1.975 0 0 1 2.941 2.551Z"/></g><defs><clipPath id="a"><path d="M0 0h24v24H0z"/></clipPath></defs></svg></a>
          )}
      </div>
      ) : null}
    </div>
  </div>
</footer>
