---
import Layout from '../../components/Layout.astro'
import getTagsArrayFromPostList from '../../components/getTagsArrayFromPostList'
import postsQuery from '../../components/postsQuery'
interface Props {
    listPosts: {
      data: Array<{
        id: string
        title: string
        slug: string
        description: string
        tags: Array<{
          title: string
          slug: string
        }>
      }>
    }
  }

const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: postsQuery
    }),
  }
);
const { data } = await response.json()

const content = getTagsArrayFromPostList(data)

---
<Layout pageTitle="archive" pageDescription="Archive of all articles published on this blog" canonical="tag">
    <div class="my-5">
      <h1 class="text-4xl">All tags:</h1>
      {content.map((tag) => (
          <article class="card bg-secondary">
            <div class="card-body">
              <h2 class="card-title text-inherit">
                <a href={`/posts/${tag.slug}/`}>{tag.title}</a>
              </h2>
              {tag.description && <p class="text-inherit">{tag.description}</p>}
              {tag.posts.length ? (
                <ul class="list-disc list-inside">
                  {tag.posts.map(post => (
                    <li><a class="hover:underline py-2 px-1 inline-block" href={`/posts/${post.slug}/`}>{post.title}</a></li>
                  ))}
                </ul>
              ) : null}
            </div>
          </article>
      ))}
    </div>
</Layout>
