---
import defaultShareCard from '../images/default-share-card.png'
interface Props {
  pageTitle: string
  pageDescription?: string
  shareCard?: string
  canonical?: string
  slug?: string
}

import { SEO } from 'astro-seo'
import Header from '../components/Header.astro'
import { Footer } from '@frontends/footer'

import {
  title,
  subtitle,
  menuItems,
  footerMenuItems,
  acknowledgementText,
  socialLinks } from '../../sitedata';

const { pageTitle, pageDescription, shareCard, slug } = Astro.props

const seoTitle = pageTitle ? `${pageTitle} - ${title}`: title

const seoProps = {
  title: seoTitle,
  description: pageDescription ?? subtitle,
  openGraph: {
    basic: {
      title: seoTitle,
      type: 'website',
      image:  shareCard ?? defaultShareCard,
    },
    image: {
      url:  shareCard ?? defaultShareCard,
      type: 'image/png',
      alt: 'Share card',
    },
    optional: {
      description: subtitle,
      locale: 'en-GB',
      siteName: title,
    }
  },
  twitter: {
    card: 'summary',
    site: '@muzzlehatch_',
    creator: '@muzzlehatch_',
  },
}
---
<html lang="en-US" data-theme="mytheme">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/styles/global.css" type="text/css">
  <link rel="preload" href="/fonts/serpentine.woff2" as="font" />
  <SEO
    {...seoProps}
    canonical={`/${slug}/`}
   />
</head>
<body class="bg-secondary text-white leading-relaxed">
    <Header title={title} menuItems={menuItems} subtitle={subtitle} url={`/${slug}/`} />
    <main class="relative bg-pattern py-6" id="main">
        <slot />
    </main>
    <Footer title={title} footerMenuItems={footerMenuItems} acknowledgementText={acknowledgementText} socialLinks={ socialLinks } url={`/${slug}/`} withPadding={true}/>
</body>
</html>
