---
import { RichTextRenderer } from "@frontends/rich-text-renderer"
import Layout from '../components/Layout.astro'

export async function getStaticPaths() {
  const data = await fetch(
    process.env.WEBINY_READ_URL,
    {
      method: 'post',
      headers: {
        'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
        'Content-Type' : 'application/json'
      },
      body: JSON.stringify({
        query: `
          {
            listPages {
              data {
                id
                title
                slug
                description
                body
                publishDate
                shareCard
              }
              error {
                message
              }
            }
          }
        `,
      }),
    }
  ).then (
    response => response.json()
  )

  return data.data.listPages.data.map(page => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}
const { page } = Astro.props;
---
<Layout pageTitle="home" pageDescription={page.description} canonical={page.slug}>
    <h1 class="text-4xl">{page.title}</h1>
    <RichTextRenderer data={page.body} />
</Layout>
