---
import { ArticleCard } from '@frontends/article-card'
import Layout from '../components/Layout.astro'

const getter = async (entryId) => {
  const response = await fetch(
    process.env.WEBINY_READ_URL,
  {
    method: 'POST',
    headers: {
      'Authorization': `Bearer ${process.env.WEBINY_ACCESS_TOKEN}`,
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify({
      query: `
        query myQuery($PostsListWhereInput: PostsListWhereInput) {
          listPosts(limit: 2, sort: publishDate_DESC, where: $PostsListWhereInput) {
            meta {
              totalCount
            }
            data {
              id
              title
              slug
              description
              publishDate
              shareCard
              embed {
                link
                type
              }
            }
            error {
              message
            }
          }
        }
      `,
        variables: {
          PostsListWhereInput: {
            tags: {
              entryId: entryId
            }
          }
        }
    }),
  }
);
  return await response.json();
}

const res = await Promise.all([
  getter('63278ac9dbaa390009981432'),
  getter('63278b34dbaa39000998143a'),
  getter('637b8aa4d9d6200008ab30e3')
])
---
<Layout pageTitle="home">
      <p class="mb-2">Delicious Reverie is the personal home of <a class="underline" href="/about-benjamin-read">Benjamin Read</a> on the web.</p>
      <p class="mb-4">I'm an experienced <strong>Developer Relations</strong> product evangelist and community builder, a Senior <strong>JavaScript Software Engineer</strong> with experience of FinTech and PropTech, and a literature buff.</p>
      <a class="btn btn-primary normal-case mb-6" href="/about-benjamin-read">More about me</a>
      <h2 class="text-2xl">🎙 Recent Talks & Podcasts:</h2>
      {res[0].data?.listPosts?.data.length ? (
          <div class="grid grid-cols-1 gap-4">
            {res[0].data?.listPosts?.data.map(post => (
              <ArticleCard post={post}/>
            ))}
          </div>
        ) : null}
      <a class="btn btn-primary" href="/tags/talks">&rarr; See all {res[0].data?.listPosts?.meta.totalCount} talks and podcasts</a>
      <h2 class="text-2xl mt-8">✍️ Recently Published Articles:</h2>
      {res[1].data?.listPosts?.data.length ? (
          <div class="grid grid-cols-1 gap-4">
            {res[1].data?.listPosts?.data.map(post => (
              <ArticleCard post={post}/>
            ))}
          </div>
        ) : null}
      <a class="btn btn-primary" href="/tags/published-content">&rarr; See all {res[1].data?.listPosts?.meta.totalCount} published articles</a>
      <h2 class="text-2xl mt-8">📝 Recent Technical Documentation:</h2>
      {res[2].data?.listPosts?.data.length ? (
          <div class="grid grid-cols-1 gap-4">
            {res[2].data?.listPosts?.data.map(post => (
              <ArticleCard post={post}/>
            ))}
          </div>
        ) : null}
      <a class="btn btn-primary" href="/tags/documentation">&rarr; See all {res[2].data?.listPosts?.meta.totalCount} tech docs</a>
</Layout>
