---
import { Header } from '@frontends/header'
import { Footer } from '@frontends/footer'

let title = 'deliciousreverie';
let subtitle = "blog of developer & bookworm benjamin read"

let menuItems = [{
  title: 'about',
  link: '/about',
}]

let footerMenuItems = [{
  title: 'Menu',
  items: [{
    title: 'About',
    link: '/about'
  }]
}]

let acknowledgementText = "Delicious Reverie is the blog of developer & bookworm benjamin read. Set in Lovechild and your system font. Built with Nx, Astro, Tailwind, DaisyUI and Svelte. Hosted by Netlify. © Some rights are reserved. This site doesn't use any cookies or other session storage and has no tracking scripts."

let logo = null
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
  <main class="w-screen">
    <Header title={title} menuItems={menuItems} subtitle={subtitle} />
    <main style={{ height: '60vh' }}></main>
    <Footer title={title} footerMenuItems={footerMenuItems} acknowledgementText={acknowledgementText} />
  </main>
</body>
</html>
