---
interface Props {
  menuItems: Array<{
    title: string,
    link: string
  }>;
  logo?: string;
  title: string;
  subtitle: string;
  url: string;
}

const {menuItems, logo, title, subtitle, url } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<header class="bg-accent">
  <div class="mx-auto">
    <div class="bg-slate p-2">
      <a href="#main" class="block skip-links btn btn-ghost w-40 border-secondary text-secondary p-4 normal-case">Skip links</a>
    </div>
  </div>
  <div class=" max-w-contain mx-auto">
    <div class="header--top py-11 text-white">
      <a class="header--logo normal-case text-xl hover:text-underline" href={url}>
      {logo ? (
        <img class="w-6/8" src={logo}>
        ) : (
          <span class="font-display text-secondary text-5xl">{title || null}</span>
      )}
      </a>
      {subtitle && <p class="font-display text-3xl mt-2">{subtitle}</p>}
    </div>
  </div>
  <div class="navbar max-w-contain mx-auto flex-1 justify-start">
    {menuItems?.length ? (
      <ul class="header--navigation overflow-y-auto">
        {menuItems.map(item => (
          <li class="text-white">
            <a class={`btn ${item.link.slice(1) === currentPath ? `` : `btn-ghost` } normal-case`} href={item.link}>{item.title}</a>
          </li>
        ))}
      </ul>
    ): null }
  </div>
</header>

<style is:global>
  a.header--logo > span {
    font-size: 5rem;
    line-height: 0.8;
    text-shadow: 1px 1px 2px rgb(167, 162, 31), 0 0 1em rgb(142, 139, 75), 0 0 0.2em black;
  }
</style>
