---
interface Props {
  pageTitle: string
  pageDescription?: string
  shareCard?: string
  canonical?: string
}

const { URL } = process.env

import { SEO } from 'astro-seo'
import { Header } from '@frontends/header'
import { Footer } from '@frontends/footer'

import {
  title,
  subtitle,
  logo,
  menuItems,
  footerMenuItems,
  acknowledgementText,
  socialLinks } from '../../sitedata';

const { pageTitle, pageDescription, shareCard, canonical } = Astro.props
---
<html lang="en" data-theme="mytheme">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="preload" href="/fonts/Lovechild-Regular.woff2" as="font" />
  <SEO
    title={`${pageTitle} - ${title}`}
    description={`${pageDescription || subtitle}`}
    canonical={canonical ? canonical : `${URL}/${canonical}`}
   />
</head>
<body class="bg-secondary text-primary">
    <Header title={title} menuItems={menuItems} subtitle={subtitle} logo={logo} url={URL} />
    <main class="max-w-contain mx-auto py-10" id="main">
      <slot />
    </main>
    <div class="prefooter bg-primary text-white py-11">
      <div class="max-w-contain mx-auto">
        <blockquote><h2 class="text-4xl">“Wisest are they who know they do not know.”</h2><attr>— Jostein Gaarder</attr></blockquote>
      </div>
    </div>
    <Footer title={title} footerMenuItems={footerMenuItems} acknowledgementText={acknowledgementText} socialLinks={ socialLinks } logo={logo} url={URL}/>
</body>
</html>
